<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body>
    <main>
        <div>
            <h1>{{todolist.name}}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in todolist.items.all %}
                    <tr>
                        <td>{{item.task}}</td>
                        <td>{{item.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</body>

</html>
